@model ServiceVM
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3>Hizmet Düzenleme Sayfası</h3>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("AddService", "Service", FormMethod.Post))
            {
                <br />
                @Html.Label("Hizmet Başlığı")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <br />
                @Html.Label("Resim Yolu ")
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />
                <button class="btn btn-outline-success">Kaydet</button>
            }

        </div>
    </div>
</div>
