@model List<ExperienceVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
    int i = 0;
}
<div class="card-header border-0">
    <h3 class="mb-0">
        Deneyim Listesi    <a href="/Experience/AddExperience/" class="btn btn-outline-primary">Ekle</a>
    </h3>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">           
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Date</td>
                                <td><a h@* ref="/Experience/DeleteExperience/@item.ExprerienceID" *@ data-id="@item.ExprerienceID" class="btn btn-outline-danger Delete">Sil</a></td>
                                <td><a href="/Experience/EditExperience/@item.ExprerienceID" class="btn btn-outline-warning">Güncelle</a></td>
                        </tr>
                            
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(".table").on("click", ".Delete", function () {
        var btn = $(this); //tıklanan butonu yakalar
        var id = btn.data("id"); //tıklanan datanın id özelliğini getirir
        //var blogName = btn.data("value");
        Swal.fire({
            title: 'UYARI!',
            text: "Seçilen tecrübeyi silmek istediğinize emin misiniz?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#5CBA6C',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Evet',
            cancelButtonText: 'Hayır'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Experience/DeleteExperience/" + id,
                    success: function (s) {
                        if (s) {
                            Swal.fire(
                                'Başarılı!',
                                'Seçilen Deneyim Silindi .',
                                'success'
                            )
                            btn.parent().parent().remove();
                        }
                    }
                });
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'info',
                    text: 'Silme işlemi yapılmadı'
                });
            }
        });
    });
</script>
