@model SkillVM
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">
        Yetenek Ekle
    </h3>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="form-group" method="post">
                <br />
                @Html.Label("Yetenek Başlığı")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <span asp-validation-for="Title" class="text-danger"></span>
                <br />
                @Html.Label("Değer")
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                <span asp-validation-for="Value" class="text-danger"></span>
                <br />
                <button type="submit" class="btn btn-outline-success">Kaydet</button>
            </form>

        </div>
    </div>
</div>
