@model SkillVM
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3>Yetenek Düzenleme Sayfası</h3>
</div>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SkillID)
                <br />
                @Html.Label("Yetenek Başlığı")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                <span asp-validation-for="Title" class="text-danger"></span>
                <br />
                @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
                <span asp-validation-for="Value" class="text-danger"></span>
                <br />
                <button class="btn btn-outline-success">Güncelle</button>
            }

        </div>
    </div>
</div>